<a href="#wpbody-content" class="screen-reader-shortcut">Aller au contenu principal</a>
<a href="#wp-toolbar" class="screen-reader-shortcut">Aller à la barre d’outils</a>
<div id="adminmenuback"></div>
<div id="adminmenuwrap">
  <ul id="adminmenu">
    <li class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" id="menu-dashboard">
      <a href="index.php" class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" aria-haspopup="false">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-dashboard" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Tableau de bord</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Tableau de bord</li>
        <li class="wp-first-item current">
          <a href="index.php" class="wp-first-item current" aria-current="page">Accueil</a>
        </li>
        <li>
          <a href="update-core.php">Mises à jour <span class="update-plugins count-2"><span class="update-count">2</span></span></a>
        </li>
      </ul>
    </li>
    <li class=" wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" id="menu-dashboard">
      <a href="{{path('app_post_modals_index')}}" class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" aria-haspopup="false">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-dashboard" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Developeur</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Tableau de bord</li>
        <li class="wp-first-item current">
          <a href="{{path('app_modeles_post_index')}}" class="wp-first-item current" aria-current="page">Models List</a>
        </li>
        <li>
          <a href="update-core.php">Mises à jour <span class="update-plugins count-2"><span class="update-count">2</span></span></a>
        </li>
      </ul>
    </li>
    <li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true">
      <div class="separator"></div>
    </li>
    <li class=" wp-has-submenu wp-not-current-submenu menu-top menu-icon-post open-if-no-js menu-top-first" id="menu-posts">
      <a href="edit.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-post open-if-no-js menu-top-first" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-post" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Articles</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Articles</li>
        <li class="wp-first-item">
          <a href="edit.php" class="wp-first-item">Tous les articles</a>
        </li>
        <li>
          <a href="post-new.php">Ajouter un article</a>
        </li>
        <li>
          <a href="edit-tags.php?taxonomy=category">Catégories</a>
        </li>
        <li>
          <a href="edit-tags.php?taxonomy=post_tag">Étiquettes</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media" id="menu-media">
      <a href="{{path('app_media_index')}}" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-media" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-media" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Médias</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Médias</li>
        <li class="wp-first-item">
          <a href="{{path('app_media_index')}}" class="wp-first-item">Médiathèque</a>
        </li>
        <li>
          <a href="{{path('app_media_new')}}">Ajouter un fichier média</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-page" id="menu-pages">
      <a href="edit.php?post_type=page" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-page" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-page" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Pages</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Pages</li>
        <li class="wp-first-item">
          <a href="edit.php?post_type=page" class="wp-first-item">Toutes les pages</a>
        </li>
        <li>
          <a href="post-new.php?post_type=page">Ajouter une page</a>
        </li>
      </ul>
    </li>
    <li class="wp-not-current-submenu menu-top menu-icon-comments menu-top-last" id="menu-comments">
      <a href="edit-comments.php" class="wp-not-current-submenu menu-top menu-icon-comments menu-top-last">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-comments" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">
          Commentaires <span class="awaiting-mod count-0"><span class="pending-count" aria-hidden="true">0</span><span class="comments-in-moderation-text screen-reader-text">0 commentaire en modération</span></span>
        </div>
      </a>
    </li>
    <li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true">
      <div class="separator"></div>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-appearance menu-top-first" id="menu-appearance">
      <a href="themes.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-appearance menu-top-first" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-appearance" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Apparence</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Apparence</li>
        <li class="wp-first-item">
          <a href="themes.php" class="wp-first-item">Thèmes <span class="update-plugins count-0"><span class="theme-count">0</span></span></a>
        </li>
        <li>
          <a href="site-editor.php">Éditeur</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-plugins" id="menu-plugins">
      <a href="plugins.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-plugins" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-plugins" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">
          Extensions <span class="update-plugins count-1"><span class="plugin-count">1</span></span>
        </div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">
          Extensions <span class="update-plugins count-1"><span class="plugin-count">1</span></span>
        </li>
        <li class="wp-first-item">
          <a href="plugins.php" class="wp-first-item">Extensions installées</a>
        </li>
        <li>
          <a href="plugin-install.php">Ajouter une extension</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-users" id="menu-users">
      <a href="users.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-users" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-users" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Comptes</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Comptes</li>
        <li class="wp-first-item">
          <a href="users.php" class="wp-first-item">Tous les comptes</a>
        </li>
        <li>
          <a href="user-new.php">Ajouter un compte</a>
        </li>
        <li>
          <a href="profile.php">Profil</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-tools" id="menu-tools">
      <a href="tools.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-tools" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-tools" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Outils</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Outils</li>
        <li class="wp-first-item">
          <a href="tools.php" class="wp-first-item">Outils disponibles</a>
        </li>
        <li>
          <a href="import.php">Importer</a>
        </li>
        <li>
          <a href="export.php">Exporter</a>
        </li>
        <li>
          <a href="site-health.php">Santé du site <span class="menu-counter site-health-counter count-0"><span class="count">0</span></span></a>
        </li>
        <li>
          <a href="export-personal-data.php">Exporter les données</a>
        </li>
        <li>
          <a href="erase-personal-data.php">Effacer les données</a>
        </li>
        <li>
          <a href="theme-editor.php">Éditeur de fichiers des thèmes</a>
        </li>
        <li>
          <a href="plugin-editor.php">Éditeur de fichiers des extensions</a>
        </li>
      </ul>
    </li>
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings menu-top-last" id="menu-settings">
      <a href="options-general.php" class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings menu-top-last" aria-haspopup="true">
        <div class="wp-menu-arrow">
          <div></div>
        </div>
        <div class="wp-menu-image dashicons-before dashicons-admin-settings" aria-hidden="true">
          <br />
        </div>
        <div class="wp-menu-name">Réglages</div>
      </a>
      <ul class="wp-submenu wp-submenu-wrap">
        <li class="wp-submenu-head" aria-hidden="true">Réglages</li>
        <li class="wp-first-item">
          <a href="options-general.php" class="wp-first-item">Général</a>
        </li>
        <li>
          <a href="options-writing.php">Écriture</a>
        </li>
        <li>
          <a href="options-reading.php">Lecture</a>
        </li>
        <li>
          <a href="options-discussion.php">Commentaires</a>
        </li>
        <li>
          <a href="options-media.php">Médias</a>
        </li>
        <li>
          <a href="options-permalink.php">Permaliens</a>
        </li>
        <li>
          <a href="options-privacy.php">Confidentialité</a>
        </li>
      </ul>
    </li>
    <li id="collapse-menu" class="hide-if-no-js">
      <button type="button" id="collapse-button" aria-label="Replier le menu principal" aria-expanded="true"><span class="collapse-button-icon" aria-hidden="true"></span><span class="collapse-button-label">Réduire le menu</span></button>
    </li>
  </ul>
</div>
