<div class="quicklinks" id="wp-toolbar" role="navigation" aria-label="Barre d’outils">
  <ul id="wp-admin-bar-root-default" class="ab-top-menu">
    <li id="wp-admin-bar-site-name" class="menupop">
      <a class="ab-item" aria-haspopup="true" href="/{{prefix_api}}">CMS</a><div class="ab-sub-wrapper">
        <ul id="wp-admin-bar-site-name-default" class="ab-submenu">
          <li id="wp-admin-bar-view-site">
            <a class="ab-item" href="/">Aller sur le site</a>
          </li>
        </ul>
      </div>
    </li>
    <li id="wp-admin-bar-comments">
      <a class="ab-item" href="#">
        <span class="ab-icon" aria-hidden="true"></span>
        <span class="ab-label awaiting-mod pending-count count-0" aria-hidden="true">0</span>
        <span class="screen-reader-text comments-in-moderation-text">0 commentaire en modération</span>
      </a>
    </li>
    <li id="wp-admin-bar-new-content" class="menupop">
      <a class="ab-item" aria-haspopup="true" href="{{path('app_post_new',{post_type:'post'})}}">
        <span class="ab-icon" aria-hidden="true"></span>
        <span class="ab-label">Créer</span>
      </a>
      <div class="ab-sub-wrapper">
        <ul id="wp-admin-bar-new-content-default" class="ab-submenu">
          <li id="wp-admin-bar-new-post">
            <a class="ab-item" href="{{path('app_post_new',{post_type:'post'})}}">Article</a>
          </li>
          <li id="wp-admin-bar-new-media">
            <a class="ab-item" href="{{path('app_media_index')}}">Fichier média</a>
          </li>
          <li id="wp-admin-bar-new-page">
            <a class="ab-item" href="{{path('app_post_new',{post_type:'page'})}}">Page</a>
          </li>
          <li id="wp-admin-bar-new-user">
            <a class="ab-item" href="#">Compte</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  {% set image_profile = getImages(app.user ? app.user.imageProfil:null,true) %}
  {% set nom_complet = app.user ? app.user.firstName ~ ' ' ~ app.user.lastName : null %}
  <ul id="wp-admin-bar-top-secondary" class="ab-top-secondary ab-top-menu">
    <li id="wp-admin-bar-my-account" class="menupop with-avatar">
      <a class="ab-item" aria-haspopup="true" href="#">Bonjour, <span class="display-name">{{ nom_complet }}</span><img alt="" src="{{image_profile|length > 0 ? image_profile :'http://1.gravatar.com/avatar/78ebc64d88e60a62b5983cd066cf8d44?s=64&amp;d=mm&amp;r=g'}}"  class="avatar avatar-26 photo" height="26" width="26" loading="lazy" decoding="async" /></a><div class="ab-sub-wrapper">
        <ul id="wp-admin-bar-user-actions" class="ab-submenu">
          <li id="wp-admin-bar-user-info">
            <a class="ab-item" tabindex="-1" href="#"><img alt="" src="{{image_profile|length > 0 ? image_profile :'http://1.gravatar.com/avatar/78ebc64d88e60a62b5983cd066cf8d44?s=64&amp;d=mm&amp;r=g'}}" class="avatar avatar-64 photo" height="64" width="64" loading="lazy" decoding="async" /><span class="display-name">{{ nom_complet }}</span></a>
          </li>
          {% set user_id = app.user ? app.user.id : 0 %}
          <li id="wp-admin-bar-edit-profile">
            <a class="ab-item" href="{{path('app_user_edit',{id:user_id})}}">Modifier le profil</a>
          </li>
          <li id="wp-admin-bar-logout">
            <a class="ab-item" href="{{path('app_logout')}}">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<a class="screen-reader-shortcut" href="{{path('app_logout')}}">Se déconnecter</a>
