{% extends 'admin/admin.html.twig' %}

{% block title %}
	Ajouter un nouveau article
{% endblock %}
{% block titreAdmin %}
	Ajouter un nouveau article
{% endblock %}
{% block importmap %}
	{{ importmap(['app','post']) }}
{% endblock %}
{% block body %}
	{% if post is defined and post.id is defined and post.id %}
		<script>
			let id_post = "{{ post.id}}";
		</script>
	{% endif %}
	{# loading chargement post data #}
	{% include "admin/post/_partial/loading-single.html.twig"  %}
	<div id="elementor-editor-wrapper">
		<input type="hidden" value="{{post_type}}" id="post_type_slug" />
		<aside id="elementor-panel" class="elementor-panel ui-resizable" aria-labelledby="elementor-panel-header-title">
			<div id="elementor-preview-loading-side-bar">
				<i class="eicon-loading eicon-animation-spin" aria-hidden="true"></i>
			</div>
			<div id="elementor-panel-inner">
				<div id="elementor-panel-state-loading">
					<i class="eicon-loading eicon-animation-spin"></i>
				</div>
                
                {# header menu edit #}
                {% include "admin/post/_partial/elementor-panel-header.html.twig"  %}

				<main id="elementor-panel-content-wrapper" class="ps ps--active-y">
					<div id="elementor-panel-page-elements">
                        {# tabs header list #}
                        {% include "admin/post/_partial/elementor-panel-navigation.html.twig"  %}

                        {# recherche modéles #}
                        {% include "admin/post/_partial/elements-search-area.html.twig"  %}

                        {# notice zone #}
                        {#% include "admin/post/_partial/notice-utulisation.html.twig"  %#}
						<div id="elementor-panel-elements-wrapper" class="section-sidebar-scroll">
							<div id="elementor-panel-elements-categories">
								<div id="elementor-panel-categories">
                                    {# titre|slug|excerpt|template page | parent page|feature image|post status #}
									<div id="elementor-panel-category-layout" class="elementor-panel-category open">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Basique</span>

										</button>
										<div class="elementor-panel-category-items">
											{# titre de page #}
											{% include "admin/post/_partial/element-post-field/post-title.html.twig" with {is_post_admin:true} %}
											{# slug de page #}
											{% include "admin/post/_partial/element-post-field/post-name.html.twig" with {is_post_admin:true} %}
											{# excerpt de page #}
											{% include "admin/post/_partial/element-post-field/post-excerpt.html.twig" with {is_post_admin:true} %}
											{# temlate de page #}
											{% include "admin/post/_partial/element-post-field/template-page.html.twig" with {is_post_admin:true} %}
											{# page parent #}
											{% if page_parents_select is defined and page_parents_select|length > 0 %}
												{% for page_parent_select in page_parents_select %}
													{% if page_parent_select.pages_parents_child|length and loop.index <= 3 %}
														{% include "admin/post/_partial/element-post-field/page-parent-child.html.twig" with {is_post_admin:true,page_parent_select:page_parent_select,id_attr:loop.index - 1} %}
													{% endif %}
												{% endfor %}
											{% else %}
												{% include "admin/post/_partial/element-post-field/page-parent.html.twig" with {is_post_admin:true} %}
											{% endif %}
											{# page status #}
											{% include "admin/post/_partial/element-post-field/post-status.html.twig" %}
											{# page feature #}
											{% include "admin/post/_partial/element-post-field/post-feature.html.twig" with {is_post_admin:true} %}
										</div>
									</div>
                                    {# catégories #}
									<div id="elementor-panel-category-basic" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Catégories</span>

										</button>
										<div class="elementor-panel-category-items elementor-responsive-panel">
											{# page feature #}
											{% include "admin/post/_partial/element-post-field/post-category.html.twig" with {taxonomies:taxonomies,is_post_admin:true} %}
										</div>
									</div>
                                    {# author page #}
									{% if auteurs is defined and auteurs|length > 0 %}
										<div id="elementor-panel-category-pro-elements" class="elementor-panel-category">
											<button class="elementor-panel-heading elementor-panel-category-title">
												<span class="elementor-panel-heading-toggle">
													<i class="eicon" aria-hidden="true"></i>
												</span>
												<span class="elementor-panel-heading-title">Author</span>

											</button>
											<div class="elementor-panel-category-items elementor-responsive-panel">
												{# page auteurs #}
												{% include "admin/post/_partial/element-post-field/post-auteurs.html.twig" with {auteurs:auteurs,is_post_admin:true} %}
											</div>
										</div>
									{% endif %}
                                    {# post meta #}
									<div id="elementor-panel-category-general" class="elementor-panel-category">
										<button class="elementor-panel-heading elementor-panel-category-title">
											<span class="elementor-panel-heading-toggle">
												<i class="eicon" aria-hidden="true"></i>
											</span>
											<span class="elementor-panel-heading-title">Post meta</span>

										</button>
										<div class="elementor-panel-category-items post-meta-section elementor-responsive-panel">
											{% for form_item in postmeta_forms %}
												{% set data = post.postMetaJson|json_decode %}
												{# page feature #}
												{% include "admin/global/forms/forms-builder.html.twig" with {fields:form_item.fields|json_decode,data_set:data} %}
											{% endfor %}
										</div>
									</div>
								</div>
							</div>

							<div id="elementor-panel-elements-modals" class="hide-pannel open elementor-panel-category">
								<div class="elementor-panel-category-items post-meta-section elementor-responsive-panel">
									{% for form_item in post_modals %}
										{# page feature #}
										<div class="elementor-element-wrapper">
											{% if form_item.is_new %}
												<span><img src="/uploads/2024/06/label-new-yellow.png" /></span>
											{% endif %}
											<div class="elementor-element">
												<input class="modele-id" type="hidden" value="{{form_item.id}}" data-image-preview="{{getImagesUrl(form_item.image_preview)}}" />
												
												<div class="popup-image-preview" style="background-image: url({{getImagesUrl(form_item.image_preview)}});">
												
												</div>
												<div class="icon">
													<i class="eicon-container" aria-hidden="true"></i>
												</div>
												<div class="title-wrapper">
													<div class="title">{{form_item.name_modele}}</div>
												</div>
											</div>
										</div>
										{#% include "admin/global/forms/forms-builder.html.twig" with {fields:form_item.fields|json_decode} %#}
									{% endfor %}
								</div>
								<div class="form-html-container">
									<div class="form"></div>
									<div class="form-footer">
										<button class="button button-primary enregister">enregistrer</button>
										<button class="button button-danger close">annuler</button>
										<div class="checkbox-container options-enregistrement">
											<input type="checkbox"  id="post-default-content-2" class="elementor-control-tag-area elementor-input ui-autocomplete-input" data-setting="post-radio" autocomplete="off"  name="post-default-content" >
											<label>Options enregistrement : Définire contenu par defaut</label>
										</div>
									</div>
								</div>
							</div>
							<div id="elementor-panel-elements-seo"></div>
							<div id="elementor-panel-elements-history"></div>
						</div>
					</div>
				</main>
                {# footer menu edit #}
                {% include "admin/post/_partial/elementor-panel-footer.html.twig"  %}
                {# panneau toggle #}
                {% include "admin/post/_partial/elementor-panneau-toggle.html.twig"  %}
			</div>
		</aside>
		<main id="elementor-preview" aria-label="Aperçu">
			<div id="elementor-preview-responsive-wrapper" class="elementor-device-desktop elementor-device-rotate-portrait">
				<div id="elementor-preview-loading">
					<i class="eicon-loading eicon-animation-spin" aria-hidden="true"></i>
				</div>
				<div class="load-css-modal">
					{% set modele_names = [] %}
					{% for form_item in post_modals %}
						{{loadCssModalsWithParentClass(form_item.class_sortable)|raw}}
					{% endfor %}
				</div>
				<section class="preview-modal-list">
					{% set post_content = post.getPostOrderContent|json_decode %}
					{% for model in post_content %}
						{% include "admin/global/preview/preview-modele.html.twig" with {model:model} %}
					{% endfor %}
				</section>
				{#<iframe id="elementor-preview-iframe" src="?elementor-preview=15021&ver=1717508987" allowfullscreen="1" class="dialog-iframe dialog-simple-iframe"></iframe>"#}
			</div>
		</main>
		{# stucture de contenu #}
		{% include "admin/post/_partial/post-structures.html.twig" with {post_content:post_content} %}
		{# analyse post avent le publication #}
		<div class="popup popup-analyse">
			<div class="popup-content">
				<div class="popup-header">
					<h2>Analyse HTML</h2>
				</div>
				<div class="popup-body">
				</div>
				<div class="popup-footer">
					<button class="button button-primary confirmer">confirmer</button>
					<button class="button button-danger close">annuler</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
