{% extends 'base.html.twig' %}

{% block title %}PostModals index{% endblock %}

{% block body %}
    <h1>PostModals index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content_modele_post</th>
                <th>Fields</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post_modal in post_modals %}
            <tr>
                <td>{{ post_modal.id }}</td>
                <td>{{ post_modal.contentModelePost }}</td>
                <td>{{ post_modal.fields }}</td>
                <td>
                    <a href="{{ path('app_post_modals_show', {'id': post_modal.id}) }}">show</a>
                    <a href="{{ path('app_post_modals_edit', {'id': post_modal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_modals_new') }}">Create new</a>
{% endblock %}
