{% extends 'base.html.twig' %}

{% block title %}PostModals{% endblock %}

{% block body %}
    <h1>PostModals</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_modal.id }}</td>
            </tr>
            <tr>
                <th>Content_modele_post</th>
                <td>{{ post_modal.contentModelePost }}</td>
            </tr>
            <tr>
                <th>Fields</th>
                <td>{{ post_modal.fields }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_post_modals_index') }}">back to list</a>

    <a href="{{ path('app_post_modals_edit', {'id': post_modal.id}) }}">edit</a>

    {{ include('post_modals/_delete_form.html.twig') }}
{% endblock %}
