<div class="elementor-control elementor-control-link elementor-control-type-url elementor-label-block elementor-control-separator-default elementor-control-dynamic">
  <div class="elementor-control-content">
    <div class="elementor-control-field elementor-control-url-external-show">
      <label for="elementor-control-default-c1482" class="elementor-control-title">{{titre_label is defined ? titre_label : 'Titre'}}</label>
      <div class="elementor-control-input-wrapper elementor-control-dynamic-switcher-wrapper">
        {% set index_loop = parent_index  is defined ? '-' ~ parent_index : '' %}
        {% for option in options %}
            <label class="checkbox-container">
                <input 
                    type="radio"
                    data-var-name="{{var_name is defined ? var_name :''}}" 
                    id="post-radio{{uuid is defined ? '-' ~ uuid :''}}{{loop.index is defined ?  '-' ~ loop.index :''}}" 
                    class="elementor-control-tag-area elementor-input ui-autocomplete-input" 
                    data-setting="post-radio" 
                    autocomplete="off"
                    value="{{option}}"
                    name="post-radio{{uuid is defined ? '-' ~ uuid :''}}{{index_loop}}"
                    {#value = "{{var_name is defined and data is defined  and data[var_name] is defined ? data[var_name] :''}}"#}
                    {% if var_name is defined and data is defined  and data[var_name] is defined and option == data[var_name]  %}checked="checked"{% endif %}
                />
                {{option}}
            </label>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
 