<div class="elementor-control elementor-control-link elementor-control-type-url elementor-label-block elementor-control-separator-default elementor-control-dynamic">
  <div class="elementor-control-content">
    <div class="elementor-control-field elementor-control-url-external-show">
      <label for="elementor-control-default-c1482" class="elementor-control-title">{{titre_label is defined ? titre_label : 'Excerpt'}}</label>
      <div class="elementor-control-input-wrapper elementor-control-dynamic-switcher-wrapper">
        <textarea 
                data-var-name="{{var_name is defined ? var_name :''}}"  
                id="post-excerpt{{uuid is defined ? '-' ~ uuid :''}}{{loop.index is defined ?  '-' ~ loop.index :''}}" 
                class="elementor-control-tag-area elementor-input ui-autocomplete-input" 
                data-setting="post-excerpt" 
                placeholder="{{titre_label is defined ? titre_label : 'Collez ou saisissez votre excerpt'}}" 
                autocomplete="off" 
        >{{var_name is defined and data is defined  and data[var_name] is defined ? data[var_name] :(post is defined and post.postExcerpt is defined and is_post_admin is defined and is_post_admin ? post.postExcerpt:'')}}</textarea>
      </div>
    </div>
  </div>
</div>
